@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Myriad-Thin;
  src: url('../assets/fonts/MyriadPro-Light.woff');
}

@font-face {
  font-family: Myriad-Regular;
  src: url('../assets/fonts/MYRIADPRO-REGULAR.woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Myriad-Thin;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.font-myriad-thin {
  font-family: Myriad-Thin;
}

.font-myriad-regular {
  font-family: Myriad-Regular;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
