@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Myriad-Thin;
  src: url('../assets/fonts/MyriadPro-Light.woff');
}

@font-face {
  font-family: Myriad-Regular;
  src: url('../assets/fonts/MYRIADPRO-REGULAR.woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Myriad-Thin;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
